In [2]:
import pandas as pd
import numpy as np

In [12]:
def load_outputs(db_name):
    overlaps = []
    pure_indels = []
    n_snps_per_repeat_all = []
    for chrom in range(1,23):
        all_overlaps = pd.read_csv(f"{db_name}_outputs/chr{chrom}_overlap.tab", sep = "\t")
        pure_repeat_indel = pd.read_csv(f"{db_name}_outputs/chr{chrom}_pure_repeat_indel.tab", sep = "\t")

        all_overlaps.columns = ['ref_start','ref','str_info','snp_pos','snp_ref','snp_alt']
        pure_repeat_indel.columns = ['ref_start','ref','str_info','snp_pos','snp_ref','snp_alt']

        n_snps_per_repeat = list(all_overlaps.groupby("str_info").count()['ref_start'])
        n_snps_per_repeat_all.extend(n_snps_per_repeat)

        overlaps.extend(list(all_overlaps['str_info'].unique()))
        pure_indels.extend(list(pure_repeat_indel['str_info'].unique()))
        
    return np.mean(n_snps_per_repeat_all), len(overlaps), len(pure_indels)

In [13]:
load_outputs("dbsnp")

(24.518301967626805, 1701593, 1476533)

In [14]:
load_outputs("gnomad")

(22.377745454545455, 1663750, 1388335)

In [4]:
pd.read_csv(f"dbsnp_outputs/chr21_overlap.tab", sep = "\t")

,ref_start,ref,"[str_pos, repeat_unit/period]",snp_pos,snp_ref,snp_alt
0,8993151,TTTTCccttttctttCTTTCTGCCATTC,"(8993159, 'CTTT')",8993156,CCTTTTCTTT,C
1,8993151,TTTTCCctTTTCTTTCTTTCTGCCATTC,"(8993159, 'CTTT')",8993157,CT,C
2,8993151,TTTTCCCttttcTTTCTTTCTGCCATTC,"(8993159, 'CTTT')",8993158,TTTTC,T
3,8993151,TTTTCCCTTttctttctttctgCCATTC,"(8993159, 'CTTT')",8993160,TTCTTTCTTTCTG,TCTT
4,8993151,TTTTCCCTTTtCTTTCTTTCTGCCATTC,"(8993159, 'CTTT')",8993161,T,C
...,...,...,...,...,...,...
521647,46672631,CTCAAAAAAAaAAAATTT,"(46672634, 'A')",46672641,A,G
521648,46672631,CTCAAAAAAAAAaAATTT,"(46672634, 'A')",46672643,A,C
521649,46672631,CTCAAAAAAAAAAAaTTT,"(46672634, 'A')",46672645,A,C
521650,46672631,CTCAAAAAAAAAAAaTTT,"(46672634, 'A')",46672645,A,T
521651,46672631,CTCAAAAAAAAAAAAtTT,"(46672634, 'A')",46672646,T,A